<section class="footer-light" style="background-color: #151515; margin-top: 0%;">
    <div class="container">
      <div class="footer-wrapper-two">
        <a href="#" class="footer-brand w-inline-block"><img src="/static/img/Logo_GII.png" loading="lazy" width="105" sizes="105px" alt="" srcset="/static/img/Logo_GII.png 500w, static/img/Logo_GII.png 753w"></a>
        <div class="footer-block-two">
          <div class="footer-title">Company</div>
          <a href="#" class="footer-link-two">How it works</a>
          <a href="#" class="footer-link-two">Pricing</a>
          <a href="#" class="footer-link-two">Docs</a>
        </div>
        <div class="footer-block-two">
          <div class="footer-title">Quick Link</div>
          <a href="#" class="footer-link-two">Materials</a>
          <a href="#" class="footer-link-two">Old Fox</a>
        </div>
        <div class="footer-form w-form">
          <form id="wf-form-Footer-Form" name="wf-form-Footer-Form" data-name="Footer Form" method="get" class="footer-form-container" data-wf-page-id="663aa3b05e3985925f3cf043" data-wf-element-id="7c3f106f-7cf8-8f6c-29d0-4b46e9223596">
            

          </form>
        </div>
      </div>
      <div class="footer-divider-two"></div>
      <div class="footer-bottom">
        <div class="footer-copyright">© 2024 Glass Innovation Institute. All rights reserved</div>
        <div class="footer-social-block-two">
          <a href="#" class="footer-social-link w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ac76f12aaec_product%20icon-2.svg" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a4a9512aae0_product%20icon-1.svg" loading="lazy" alt=""></a>
          <a href="#" class="footer-social-link w-inline-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a853712aad7_product%20icon.svg" loading="lazy" alt=""></a>
        </div>
      </div>
    </div>
  </section>